/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, acronym, address, big, cite,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}

.codehl, .codehl .number {
    color: red;
}

.yhl {
    background-color:rgba(245,208,76, 0.75)
}

.nobullet {
   list-style: none;
   padding-left: 1em;
   text-indent: -1em;
}

/* Fallback message for clients that don't support impress */

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}

/* Everything below is the NAP theming */

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Lato';
    font-weight: 200;
    color: #373f31;
    background-color: #82cb45;
}

a, a:hover, a:focus, a:active, a.active {
  outline: 0;
  color: #82cb45;
  text-decoration: none;
}

h1 {
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 75px;
}

.step span.key {
  padding: 5px 15px;
  border-radius: 10px;
  color: #fff;
  background-color: #82cb45;
  margin-left: 8px;
  font-size: 21px;
  margin-right: 10px;
  border: unset;
}

.step p.subtle {
  margin: 40px;
  font-size: 35px;
  margin-top: 65px;
  color: #82cb45;
}

em {
    font-style: italic;
}

h2 {
  text-transform: uppercase;
  color: #fff;
  font-family: 'Montserrat', cursive;
  background-color: #82cb45;
  font-weight: 700;
  font-size: 50px;
  padding-bottom: 28px;
  margin-bottom: 40px;
}

h2 em {
  text-transform: lowercase;
  font-size: 30px;
  line-height: 52px;
  vertical-align: top;
}

h3 {
    font-size: 30px;
}

#git-logo {
  width: 400px;
}

#logo {
  width: 100px;
  margin: 25px;
  margin-bottom: 10px;
}

.step {
    position: relative;

    background-color: #fff;

    width: 2280px;
    min-height: 720px;
    margin: 0px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-size: 36px;
}

.step header {
  background-color: #82cb45;
}

.step .step-content {
    margin: 0 500px;
}

section.step {
  min-height: 0px;
  text-align: center;
  font-size: 50px;
  padding: 65px;
}

.step p,ul,pre,ol {
  margin: 10px 70px;
  line-height: 50px;
}

.step li {
  margin: 20px;
}

.step li img {
  vertical-align: bottom;
}

.step span {
  background-color: #f5f8ee;
  color: #777;
  border: #eee 1px solid;
  padding: 7px 10px;
  font-size: 25px;
  border-radius: 5px;
}

strong {
  font-weight: bold;
}

.step p.summary.small {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.step p.summary {
  text-align: center;
  margin: 25px;
  padding: 25px;
  font-style: italic;
  background-color: #f5f8ee;
  color: #777;
  border: #eee 1px solid;
  border-radius: 5px;
  margin-bottom: 50px;
}

div.step:after {
  content: '';
  font-family: 'Montserrat';
  font-size: 25px;
  display: block;

  text-transform: uppercase;

  margin-top: 40px;

  color: #fff;
  background-color: #82cb45;

  position: absolute;
  width: 100%;
  bottom: 0;
}

.notes {
  display: none;
}
